{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<br>
	<section class="bg-[#007CCB] min-h-screen flex flex-col items-center pt-24 sm:pt-32 md:pt-40">

		<h1 class="font-[Raleway] text-white text-3xl sm:text-4xl md:text-5xl font-bold tracking-wide mb-12 text-center uppercase hidden md:hidden ">
			Réinitialiser le mot de passe
		</h1>

		<div class="
						w-full
					max-w-md
					sm:max-w-lg
					mx-4
					sm:mx-auto
				  bg-white
				    py-12
					px-8
					sm:py-16
					sm:px-12
					md:px-20
					rounded-[20px]
					shadow-[0_18px_45px_rgba(0,0,0,0.12)]
					space-y-6">
			<h1 class="font-[Raleway] text-white text-3xl sm:text-4xl md:text-5xl font-bold tracking-wide mb-12 text-center uppercase md:hidden ">
				Réinitialiser le mot de passe
			</h1>

			{{ form_start(passForm, {'attr': {'class': 'space-y-6'}}) }}

			<div class="text-center space-y-2">
				{{ form_label(passForm.password, 'Mot de passe', {
                'label_attr': {'class': 'font-medium text-gray-700'}
            }) }}

				{{ form_widget(passForm.password, {
                'attr': {
                    'class': 'w-full text-center border-b border-gray-300 '
                           ~ 'focus:outline-none focus:border-blue-400 pb-2 text-gray-700'
                }
            }) }}

				{{ form_errors(passForm.password) }}
			</div>

			<button type="submit" class="w-full bg-[#007CCB] hover:bg-[#005F9E] text-white py-3 px-6 rounded-full font-semibold transition duration-300">
				Réinitialiser
			</button>

			{{ form_end(passForm) }}

		</div>

	</section>
{% endblock %}
