{% extends 'base.html.twig' %}

{% block title %}Demander une réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class="bg-[#007CCB] min-h-screen flex flex-col items-center pt-24 sm:pt-32 md:pt-40 px-4 sm:mx-0">

		<h1 class="font-[Raleway] text-white text-3xl sm:text-4xl md:text-5xl font-bold tracking-wide mb-12 text-center hidden md:block uppercase">
			Mot de passe oublié ?
		</h1>

		<div class="
		w-full 
	max-w-md 
	sm:max-w-lg 
	mx-4 
	sm:mx-auto
  bg-white 
    py-12
	px-8
	sm:py-16 
	sm:px-12
	md:px-20
	rounded-[20px]
	shadow-[0_18px_45px_rgba(0,0,0,0.12)]
	space-y-6">
			<h1 class="font-[Raleway] text-black text-3xl sm:text-4xl md:text-5xl font-bold tracking-wide mb-12 text-center md:hidden uppercase">
				Mot de passe oublié ?
			</h1>
			{{ form_start(requestPasswordForm, { attr: { novalidate: 'novalidate' } }) }}

			{# Champ email stylé #}
			<div class="text-center space-y-2">
				{{ form_label(requestPasswordForm.username, 'Nom d’utilisateur', { label_attr: { class: 'font-medium text-gray-700' } }) }}
				{{ form_widget(requestPasswordForm.username, { attr: {
                class: 'w-full text-center border-b border-gray-300 focus:outline-none focus:border-blue-400 pb-2 text-gray-700'
            }}) }}
				<div class="text-red-500 text-sm">
					{{ form_errors(requestPasswordForm.username) }}
				</div>
				<br>


			</div>

			<button type="submit" class="w-full bg-[#007CCB] hover:bg-[#005F9E] text-white py-3 px-6 rounded-full font-semibold transition duration-300">
				Envoyer le lien
			</button>

			{{ form_end(requestPasswordForm) }}

		</div>

	</section>
{% endblock %}
